<link rel="stylesheet" href="css/about.css">

{{>header}}

<div class="about-container">
   <h2>About Resume Builder</h2>
   <div class="about-content-img-container">
      <div class="about-content-container">
         <p>We are Empowering professionals to land coveted positions at top-tier companies like BBC, Google, Apple,
            Tesla, and
            Airbnb, our online resume builder is a game-changer in the job market. With our intuitive platform, choose
            from a
            curated selection of expertly designed resume templates.</p>
         <p>Craft your personalized resume within minutes using industry-approved sections, meticulously tailored to
            impress
            recruiters worldwide. Each section is thoughtfully crafted to reflect your unique skills and personality,
            ensuring a
            standout application that speaks volumes.</p>
         <p>Our platform offers the flexibility to customize every aspect, allowing you to shape a professional-grade
            resume that
            perfectly mirrors your career aspirations and expertise.</p>
      </div>

      <div class="about-img-container">
         <img src="images/about1.png" alt="aboutpng">
      </div>
   </div>

   <div class="step-to-build-container">
      <h3>Simple Steps to Build Professional Resume</h3>
      <ol>
         <li>Select Template</li>
         <li>Fill details</li>
         <li>Keep in mind to save image & submit input</li>
         <li>Export Resume [ ready to download ]</li>
      </ol>
   </div>

   <div class="privacy-policy-container">
      <h3>Privacy Policy</h3>
      <ol>
         <li>We are collecting Nothing.</li>
         <li>Using Secured Connection.</li>
         <li>Use this app without any hesitation.</li>
      </ol>
   </div>

   <div class="techused-container">
      <h3>Technology used in this App</h3>
      <ol>
         <li>HTML, CSS</li>
         <li>Javascript</li>
         <li>Node.js, jsPdf</li>
         <li>Express.js, Hbs</li>
      </ol>
   </div>

   <div class="about-devloper-cotainer">
      <h3>About Developer</h3>
      <ul>
         <li>Nitin Jadav</li>
         <li><a href="#">Checkout Portfolio</a></li>
        <li><a href="#">Email Me</a></li>
      </ul>
   </div>

</div>