<div class="main-container">
   {{>header}}

   <main class="card-container">
      <div class="card">
         <div class="card-image-text-container">
            <img src="images/template1.png" alt="Template Image">
            <div class="card-info template-1">
               <p class="title">Use Template</p>
            </div>
         </div>
      </div>

      <div class="card">
         <div class="card-image-text-container">
            <img src="images/template2.png" alt="Template Image">
            <div class="card-info template-2">
               <p class="title">Use Template</p>
            </div>
         </div>
      </div>

      <div class="card">
         <div class="card-image-text-container">
            <img src="images/template3.png" alt="Template Image">
            <div class="card-info template-2">
               <p class="title">Use Template</p>
            </div>
         </div>
      </div>
   </main>
</div>