<link rel="stylesheet" href="css/fill-details.css">
<link rel="stylesheet" href="css/myResume.css">
<script src="js/fill-details.js" defer></script>
<script src="js/myResume.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/367f8e95b8.js" crossorigin="anonymous"></script>

{{>header}}



<div class="fill-container">
   <main class="fill-details-main-container6 section" id="Download">


      <div class="fill-deatils-heading">
         <h1>My Resume</h1>
         <p>Edit or Export Your Resume as PDF</p>
      </div>



{{!-- template1 --}}
<div class="download-container download-templates" id="template-preview">
   
   <div class="overlay">
      <button class="backtoedit-btn">
         <span> BACK TO EDIT </span>
      </button>
      <button class="downloadpdf-btn">
         <span>DOWNLOAD PDF </span>
      </button>
   </div>
   
   
   <div class="download-sidebar">
      <img src="images/ResumeLogo.png" alt="Profile Picture">
      <h1></h1>
      <h2></h2>
      <ul>
         <li></li>
         <li></li>
         <li></li>
      </ul>
   </div>

   <div class="download-main-content">
      <div class="download-section">
         <h3>Experience</h3>
         <ul>
            <li><b></b></li>
            <li><b></b></li>
            <li><b></b></li>
         </ul>
      </div>



      <div class="download-section">
         <h3>Projects</h3>
         <ul>
            <li><b></b></li>
            <li><b></b></li>
            <li>
               <a href="" target="_blank" class="githublink-with-inline-svg"></a>
               <a href="" target="_blank" class="livelink-with-inline-svg"></a>
            </li>
            <li></li>
         </ul>
      </div>

      <div class="download-section">
         <h3>Education</h3>
         <ul>
            <li></li>
            <li></li>
            <li></li>
         </ul>
      </div>

      <div class="download-section">
         <h3>Key Skills</h3>
         <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
         </ul>
      </div>
   </div>
   
</div>



{{!-- template2 --}}
<div class="download2-container download-templates" id="template-preview">
   <div class="overlay">
      <button class="backtoedit-btn">
         <span> BACK TO EDIT </span>
      </button>
      <button class="downloadpdf-btn">
         <span>DOWNLOAD PDF </span>
      </button>
   </div>
   <div class="template2-container">
      <div class="leftPanel">
         <img src="images/ResumeLogo.png" />
         <div class="details">
            <div class="item bottomLineSeparator">
               <h2 class="h2">
                  BIO
               </h2>
               <div class="smallText">
                  <p class="p">
                     <i class="fa fa-phone contactIcon" aria-hidden="true"></i>
                     (+33) 777 777 77
                  </p>
                  <p class="p">
                     <i class="fa fa-envelope contactIcon" aria-hidden="true"></i>
                     <a href="mailto:lorem@ipsum.com@gmail.com">
                        lorem@ipsum.com
                     </a>
                  </p>
                  <p class="p">
                     <i class="fa fa-map-marker contactIcon" aria-hidden="true"></i>
                     363310, Ahemdabad , Gujarat , India,
                  </p>
               </div>
            </div>


            <div class="item bottomLineSeparator">
               <h2 class="h2">
                  SKILLS
               </h2>
               <div class="smallText">
                  <div class="skill">
                     <div>
                        <span>Html</span>
                     </div>
                  </div>

                  <div class="skill">
                     <div>
                        <span>Css</span>
                     </div>
                  </div>

                  <div class="skill">
                     <div>
                        <span>React.js</span>
                     </div>
                  </div>

                  <div class="skill">
                     <div>
                        <span>Next.js</span>
                     </div>
                  </div>

                  <div class="skill">
                     <div>
                        <span>Node.js</span>
                     </div>
                  </div>

               </div>
            </div>


            <div class="item">
               <h2 class="h2">
                  EDUCATION
               </h2>
               <div class="smallText">
                  <p class="bolded white p">
                     Bachelor of Technology
                  </p>
                  <p class="p">
                     Silver Oak University
                  </p>
                  <p class="p">
                     2020 - 2024
                  </p>
               </div>
            </div>
         </div>

      </div>


      <div class="rightPanel">
         <div>
            <h1 class="h1">
               Jhon Doe
            </h1>
            <div class="smallText">
               <h3 class="h3">
                  Web Developer
               </h3>
            </div>
         </div>
         <div>
            <h2 class="h2">
               About me
            </h2>
            <div class="smallText">
               <p class="p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis, justo sed feugiat
                  pulvinar., quam ipsum tincidunt enim, ac gravida est metus sit amet neque. Curabitur ut arcu ut
                  nunc finibus accumsan id id elit.
               </p>
               <p class="p">
                  Vivamus non magna quis neque viverra finibus quis a tortor.
               </p>
            </div>
         </div>


         <div class="projects">
            <h2 class="h2">
               Projects
            </h2>
            <ul>
               <li>
                  <div class="projectName bolded">
                     <span>
                        Project Name
                     </span>
                  </div>
                  <div class="smallText">
                     <p class="p">
                        Quisque rutrum mollis ornare. In pharetra diam libero, non interdum dui imperdiet quis.
                        Quisque aliquam sapien in libero finibus sodales. Mauris id commodo metus. In in laoreet
                        dolor.
                     </p>
                     <ul>
                        <li>
                           Integer commodo ullamcorper mauris, id condimentum lorem elementum sed. Etiam rutrum eu
                           elit ut hendrerit. Vestibulum congue sem ac auctor semper. Aenean quis imperdiet magna.
                           Sed eget ullamcorper enim. Vestibulum consequat turpis eu neque efficitur blandit sed
                           sit
                           amet neque. Curabitur congue semper erat nec blandit.
                        </li>
                     </ul>
                     <p class="p">
                        <span class="bolded">Tech Stack: </span>Accounting, Word, Powerpoint
                     </p>
                     <p class="p">
                        <span class="bolded">Github Link:</span>Management, French
                     </p>
                     <p class="p">
                        <span class="bolded">Live Link:</span>Management, French
                     </p>
                  </div>
               </li>
            </ul>
         </div>

         <div class="workExperience">
            <h2 class="h2">
               Work Experience
            </h2>
            <ul>
               <li>
                  <div class="jobPosition">
                     <span class="bolded">
                        Accountant
                     </span>
                     <span>
                        Jun 2014 - Sept 2015
                     </span>
                  </div>
                  <div class="projectName bolded">
                     <span>
                        Company Name
                     </span>
                  </div>
               </li>


               <li>
                  <div class="jobPosition">
                     <span class="bolded">
                        Digital Marketing Expert
                     </span>
                     <span>
                        Nov 2020 - Sept 2021
                     </span>
                  </div>
                  <div class="projectName bolded">
                     <span>
                        Company Name
                     </span>
                  </div>
               </li>

               <li>
                  <div class="jobPosition">
                     <span class="bolded">
                        Accountant
                     </span>
                     <span>
                        Jun 2017 - May 2020
                     </span>
                  </div>
                  <div class="projectName bolded">
                     <span>
                        Company Name
                     </span>
                  </div>
               </li>
            </ul>
         </div>

      </div>

   </div>


</div>


<div class="template3-resume-container download-templates" id="template-preview">
   <div class="overlay">
      <button class="backtoedit-btn">
         <span> BACK TO EDIT </span>
      </button>
      <button class="downloadpdf-btn">
         <span>DOWNLOAD PDF </span>
      </button>
   </div>

   <div class="template3-left-sidebar">
      <!--Profile Section -->
      <img src="images/ResumeLogo.png" alt="Profile Picture" class="template3-img">
      <h3 class="template3-heading">Profile</h3>
      <p><strong>First Name:</strong> John</p>
      <p><strong>Last Name:</strong> Martinez</p>
      <p><strong>Role:</strong> Software Engineer</p>
      <p><strong>Description:</strong> Passionate developer with expertise in building scalable web applications and
         optimizing user experiences.</p>

      <!-- Address Section -->
      <h3 class="template3-heading">Address</h3>
      <p><strong>Postal Code:</strong> 12345</p>
      <p><strong>City:</strong> Your City</p>
      <p><strong>State:</strong> Your State</p>
      <p><strong>Country:</strong> Your Country</p>
      <p><strong>Phone:</strong> +123-456-7890</p>
      <p><strong>Email:</strong> username@provider.com</p>
   </div><!-- template3-left-sidebar -->

   <main class="template3-main-body">
      <!-- Experience Section -->
      <h2 class="template3-secondary"><i class="fa-solid fa-briefcase"></i> Experience</h2>
      <div class="template3-experience">
         <h3>Job Title: Software Developer</h3>
         <p><strong>Organisation Name:</strong> Tech Solutions Inc.</p>
         <p><strong>Start Year:</strong> 2019</p>
         <p><strong>End Year:</strong> 2023</p>
      </div>

      <!-- Projects Section -->
      <h2 class="template3-secondary"><i class="fa-solid fa-folder-open"></i> Projects</h2>
      <div class="template3-project">
         <h3>Project Name: Resume Builder</h3>
         <p><strong>Tech Stack:</strong> HTML, CSS, JavaScript, Node.js</p>
         <p><strong>GitHub:</strong> <a href="https://github.com/username/resume-builder"
               target="_blank">github.com/username/resume-builder</a></p>
         <p><strong>Live Link:</strong> <a href="https://resume-builder.com" target="_blank">resume-builder.com</a>
         </p>
         <p><strong>Description:</strong> A dynamic resume builder that allows users to create and customize
            professional resumes.</p>
      </div>

      <!-- Education Section -->
      <h2 class="template3-secondary"><i class="fa-solid fa-graduation-cap"></i> Education</h2>
      <div class="template3-education">
         <p><strong>Degree:</strong> Bachelor of Science</p>
         <p><strong>Domain:</strong> Computer Science</p>
         <p><strong>University:</strong> XYZ University</p>
         <p><strong>Start Year:</strong> 2011</p>
         <p><strong>End Year:</strong> 2015</p>
      </div>

      <!-- Key Skills Section -->
      <h2 class="template3-secondary"><i class="fa-solid fa-lightbulb"></i> Key Skills</h2>
      <ul class="template3-skills">
         <li>JavaScript</li>
         <li>HTML</li>
         <li>CSS</li>
      </ul>
   </main><!-- template3-main-body -->
</div>


   <div class="exportpdf-input-btn-container">
   
      <div class="pdf-box-input">
         <div class="border">
            <input type="text" name="text" class="pdf-name-input" placeholder="Pdf name">
         </div>
      </div>
   
      <button class="export-pdf-btn">
         Export Pdf
      </button>
   
   </div>

   </main>
</div>