<link rel="stylesheet" href="css/fill-details.css">
<script src="js/fill-details.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>



<div class="exportpdf-input-btn-container">

   <div class="pdf-box-input">
      <div class="border">
         <input type="text" name="text" class="pdf-name-input" placeholder="Pdf name">
      </div>
   </div>

   <button class="export-pdf-btn">
      Export Pdf
   </button>

</div>