
<link rel="stylesheet" href="css/template1.css">
<script src="js/template1.js" defer></script>
<script src="js/fill-details.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>



{{!-- template1 --}}
<div class="download-container download-templates" id="template-preview">

   <div class="overlay">
      <button class="backtoedit-btn">
         <span> BACK TO EDIT </span>
      </button>
      <button class="downloadpdf-btn">
         <span>DOWNLOAD PDF </span>
      </button>
   </div>

   <div class="download-sidebar">
      <img src="images/ResumeLogo.png" alt="Profile Picture">
      <h1></h1>
      <h2></h2>
      <ul>
         <li></li>
         <li></li>
         <li></li>
      </ul>
   </div>

   <div class="download-main-content">
      <div class="download-section">
         <h3>Experience</h3>
         <ul>
            <li><b></b></li>
            <li><b></b></li>
            <li><b></b></li>
         </ul>
      </div>



      <div class="download-section">
         <h3>Projects</h3>
         <ul>
            <li><b></b></li>
            <li><b></b></li>
            <li>
               <a href="" target="_blank" class="githublink-with-inline-svg"></a>
               <a href="" target="_blank" class="livelink-with-inline-svg"></a>
            </li>
            <li></li>
         </ul>
      </div>

      <div class="download-section">
         <h3>Education</h3>
         <ul>
            <li></li>
            <li></li>
            <li></li>
         </ul>
      </div>

      <div class="download-section">
         <h3>Key Skills</h3>
         <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
         </ul>
      </div>
   </div>
</div>
