<link rel="stylesheet" href="css/fill-details.css">
<script src="js/fill-details.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

{{!-- template2 --}}
<div class="download2-resume download-templates" id="template-preview">
   <div class="download2-left">
      <img src="images/ResumeLogo.png" alt="Profile Picture">
      <h1></h1>
      <h2></h2>

      <div class="download2-section">
         <h3>Contact Me</h3>
         <ul>
            <li></li>
            <li></li>
            <li></li>
         </ul>
      </div>

      <div class="download2-section">
         <h3>Education</h3>
         <ul>
            <li></li>
            <li></li>
         </ul>
      </div>

      <div class="download2-section">
         <h3>Skills</h3>
         <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
         </ul>
      </div>
   </div>

   <div class="download2-right">
      <div class="download2-section">
         <h2>About Me</h2>
         <p></p>
      </div>

      <div class="download2-section">
         <h2>Work Experience</h2>
         <h3></h3>
         <p></p>
         <ul>
            <li></li>
            <li></li>
         </ul>

         <h3></h3>
         <p></p>
         <ul>
            <li></li>
            <li></li>
         </ul>

         <h3></h3>
         <p></p>
         <ul>
            <li></li>
            <li></li>
         </ul>
      </div>

      <div class="download2-section">
         <h2>References</h2>
         <p></p>
         <p></p>
         <p></p>

         <p></p>
         <p></p>
         <p></p>
      </div>
   </div>
</div>